nav
  .nav-wrapper
    a.brand-logo(href="#"): i.material-icons agriculture
    ul.right
      li: a.nav-status
        i.material-icons power_off
        | 조명
      li: a.nav-status
        i.material-icons power_off
        | 펌프
      li: a.server-clock(href="#") 3:34 PM
        i.material-icons.right refresh