extends layout

block content
  .container-fluid
    .row
      .col.s12.m6
        .card
          .card-image
            img(src='images/location.jpg')
            span.card-title 위치 1
            a.btn-floating.halfway-fab.waves-effect.waves-light.pink.activator: i.fas.fa-cog
          .card-content
            p 상추들
            ul.collection.with-header
              li.collection-header 기록
              li.collection-item 전등 켜짐
                span.badge john, 1 시간 전
              li.collection-item 펌프 켜짐
                span.badge john, 1 시간 전
          .card-action
            .row
              .col.s12.m6
                .primary-text 전등
                .switch
                  label 끄기
                    input#wEdEsk(type='checkbox')
                    span.lever
                    | 켜기
              .col.s12.m6
                .teal-text 펌프
                .switch
                  label 끄기
                    input#BjozMz(type='checkbox')
                    span.lever
                    | 켜기
          .card-reveal
            span.card-title 설정
              i.material-icons.right close
            form
              .row
                .col 전등
              .row
                .input-field.col.s12.m6
                  i.material-icons.prefix schedule
                  input#lightStart.timepicker(type='text')
                  label(for='lightStart') 시작 시간
                p.range-field.col.s12.m6
                  input(type='range' min='0' max='24')
              .row
                .col 펌프
              .row
                .input-field.col.s12.m6
                  i.material-icons.prefix schedule
                  input#pumpStart.timepicker(type='text')
                  label(for='pumpStart') 시작 시간
                .input-field.col.s12.m6
                  .prefix: h6 매
                  input#pumpRepeat(type='number')
                  label(for='pumpRepeat') 시간마다 반복

block scripts
  script(src="/javascripts/YBFoTX.js")